<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Appboy Moderator </title>
  <meta name="viewport" content="width=500, initial-scale=1">
  <link rel="icon" type="image/png" href="/static/favicon.png">
  <link href="/static/bundle.css?_bust={{config.VERSION}}" rel="stylesheet"></link>
  <script> window._DEV_MODE = true </script>
</head>
<body>
  <div class="about-content">
    <h1>
      About Moderator
    </h1>
    <div class="card">
      <h2>
        What is this for?
      </h2>
      <p>

        Moderator is a tool to make it easy to ask pointed questions. It was
        built to replace the now defunct Google Moderator. Anyone can post
        questions completely anonymously. Questions can be voted on, questions
        with higher scores appear closer to the top of the page. At Appboy,
        we’ll use this tool to drive Q&A during all-hands.

      </p>
    </div><div class="card">
      <h2>
        How anonymous am I?
      </h2>
      <p>

        Questions are posted anonymously: every event has a unique link that can
        be used to post questions, we save the questions and throw out any other
        incidental data that may have been associated with it.

      </p><p>

        Comments are not anonymous and will have your name on them. Our system
        keeps track of votes (to prevent double voting and allow you to change
        your vote), but will not ever show the identity of who voted for a
        question or comment anywhere.

      </p><p>

        This was a side project. The <a
        href="https://github.com/davidbstein/moderator/tree/deploy"> source
        code is available </a> publicly if you or a technically minded friend
        wants to verify any of these claims.

      </p>
    </div><div class="card">
      <h2>
        I found a bug!
      </h2>
      <p>

        Oh no! Let us know <a
        href="https://github.com/davidbstein/moderator/issues/new">here</a>!

      </p>
    </div>
  </div>
</body>
</html>