
$border-grey: #ccc;
$question-vote-width: 72px;
$comment-vote-width: 32px;
$shadow-grey: #999;
$item-shadow: 1px 2px 5px 0px $shadow-grey;
$item-background: #fff;
$item-focus-color: #333;
$item-detail-color: #ccc;
$question-width: 750px;

$card-border: 0px solid $border-grey;
$element-border: 1px solid #ccc;

$button-background: $item-background;
$button-hover-background: #eee;
$button-active-background: #f6f6f6;

$background: #c6ccd3;

$upvote-color: #cec;
$downvote-color: #fcc;

$link-color: #2200ee;

$zidx-comment: 1;
$zidx-container: 2;
$zidx-header: 100;

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin transition-delay($transition-delay...) {
  -moz-transition-delay: $transition-delay;
  -o-transition-delay: $transition-delay;
  -webkit-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}


@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
