@import "constants";


// shared by event question views and question entry.
.question {
  margin: 16px;
  margin-top: 32px;
  div {
    position: relative;
  }
  .question-container {
    background: $item-background;
    border: $card-border;
    box-shadow: $item-shadow;
    display: flex;
    z-index: $zidx-container;
    .question-content {
      margin: 16px;
      line-height: 16px;
    }
    .vote {
      margin-left: 16px;
      margin-right: 16px;
      height: $question-vote-width;
      .upvote, .downvote {
        height: #{(($question-vote-width / 2) - 16)};
        margin-left: calc(50% - #{$question-vote-width / 2});
      }
    }
  }
  .question-comments {
    z-index: $zidx-comment;
    background: $item-background;
    border: $card-border;
    border-bottom: 1px solid $border-grey;
    box-shadow: $item-shadow;
    margin-left: 16px;
    margin-right: 16px;
    .slider-toggle {
      @include transition-delay(3s);
      @include transition(all 100ms);
      border-top: 1px solid #eee;
      text-align: center;
      line-height: 16px;
      padding-top: 8px;
      margin: 8px;
      color: #88f;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .slider {
      @include transition(all 250ms);
    }
    .slider-false {
      // overloads a comuter value for animations
      max-height: 0px !important;
      overflow: hidden;
    }
    .slider-true {
      overflow: scroll;
    }
    .comment-input {
      margin: 8px;
      padding-left: $comment-vote-width;
      color: $item-detail-color;
      textarea {
        width: calc(100% - 16px);
        height: 72px;
        border: $element-border;
        font-size: 16px;
      }
      .buttons {
        margin: 16px;
        button {
          float: right;
        }
      }
    }
    .comment-loader {
      width: 40px;
      height: 40px;
      background-color: rgba(168, 182, 199, 0.31);
      margin: 15px auto;
    }
    .comment {
      display: flex;
      margin-top: 8px;
      .comment-content {
        margin: 16px;
        line-height: 16px;
      }
      .comment-author {
        color: $item-detail-color;
        margin-bottom: 4px;
      }
      .vote {
        margin-left: 16px;
        margin-right: 16px;
        .upvote, .downvote {
          height: #{(($question-vote-width / 2) - 16)};
        }
      }
    }
  }
}

// unique to question entry
.question-input-wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-width: 750px;
  margin: 0 auto;
}

.question-submitted, .question-input {
  margin: auto;
  max-width: $question-width;
  h1 {
    font-size: 24px;
  }
  p {
    line-height: 24px;
    margin: 16px 16px;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .question-input-form {
    margin: 32px;
    textarea{
      font-size: 14px;
      height: 7em;
      width: calc(100% - (2 * 8px));
      border: 1px solid #ccc;
    }
    margin: 8px;
  }
}
