@import "reset";

$border-grey: #ccc;
$question-vote-width: 72px;
$comment-vote-width: 32px;
$shadow-grey: #999;
$item-shadow: 1px 2px 5px 0px $shadow-grey;
$item-background: #fff;
$item-focus-color: #333;
$item-detail-color: #888;

$card-border: 0px solid $border-grey;
$element-border: 1px solid #ccc;

$button-background: $item-background;
$button-hover-background: #eee;
$button-active-background: #eee;

$background: #c6ccd3;

$upvote-color: #cec;
$downvote-color: #fcc;

$zidx-comment: 1;
$zidx-container: 2;
$zidx-header: 100;

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin transition-delay($transition-delay...) {
  -moz-transition-delay: $transition-delay;
  -o-transition-delay: $transition-delay;
  -webkit-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}

body {
  font-family: sans-serif;
  background: $background;
  background-image: url('/static/dark_embroidery.png');
  color: $item-focus-color;
}

.event-question-list {
  margin: auto;
  width: 750px;
}

button {
  border: $element-border;
  background: $button-background;
  font-size: 12px;
  &:hover {
    background: $button-hover-background;
  }
  &:active {
    background: $button-active-background;
    border: $card-border;
  }
}

.upvote-arrow {
  margin-top: 8px;
  border-bottom: 16px solid $upvote-color;
  border-left: 8px solid rgba(0,0,0,0);
  border-right: 8px solid rgba(0,0,0,0);
  width:0px;
  height: 0px;
}
.downvote-arrow {
  border-top: 16px solid $downvote-color;
  border-left: 8px solid rgba(0,0,0,0);
  border-right: 8px solid rgba(0,0,0,0);
  width: 0px;
  height: 0px;
}
.upvote:hover .upvote-arrow, .downvote:hover .downvote-arrow {
  border-top-color: red;
  border-bottom-color: green;
}
.vote-score {
  text-align: center;
  font-family: monospace;
  line-height: 16px;
}


.page-header {
  background: $item-background;
  box-shadow: $item-shadow;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zidx-header;
  width: 100%;
  .page-title {
    font-size: 32px;
  }
}

.underheader {
  height: 64px;
}

.event {
  .event-title {
    font-size: 32px;
    font-weight: 100;
  }
  .unique-link-container{
    width: 750px;
    margin: 32px auto;
    text-align: center;
  }
}

.question {
  margin: 16px;
  margin-top: 32px;
  div {
    position: relative;
  }
  .question-container {
    background: $item-background;
    border: $card-border;
    box-shadow: $item-shadow;
    display: flex;
    z-index: $zidx-container;
    .question-content {
      margin: 16px;
      line-height: 16px;
    }
    .vote {
      margin-left: 16px;
      margin-right: 16px;
      height: $question-vote-width;
      .upvote, .downvote {
        height: #{(($question-vote-width / 2) - 16)};
      }
    }
  }
  .question-comments {
    z-index: $zidx-comment;
    background: $item-background;
    border: $card-border;
    border-bottom: 1px solid $border-grey;
    box-shadow: $item-shadow;
    margin-left: 16px;
    margin-right: 16px;
    .slider-toggle {
      @include transition-delay(3s);
      @include transition(all 100ms);
      border-top: 1px solid #eee;
      text-align: center;
      line-height: 16px;
      padding-top: 8px;
      margin: 8px;
      color: #88f;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .slider {
      @include transition(all 250ms);
    }
    .slider-false {
      // overloads a comuter value for animations
      max-height: 0px !important;
      overflow: hidden;
    }
    .slider-true {
      overflow: scroll;
    }
    .comment-input {
      margin: 8px;
      padding-left: $comment-vote-width;
      color: $item-detail-color;
      textarea {
        width: calc(100% - 16px);
        height: 72px;
        border: $element-border;
        font-size: 16px;
      }
      .buttons {
        margin: 16px;
        button {
          float: right;
        }
      }
    }
    .comment {
      display: flex;
      margin-top: 8px;
      .comment-content {
        margin: 16px;
        line-height: 16px;
      }
      .comment-author {
        color: $item-detail-color;
        margin-bottom: 4px;
      }
      .vote {
        margin-left: 16px;
        margin-right: 16px;
        .upvote, .downvote {
          height: #{(($question-vote-width / 2) - 16)};
        }
      }
    }
  }
}