@import "reset";
@import "constants";
@import "login-fields";

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin transition-delay($transition-delay...) {
  -moz-transition-delay: $transition-delay;
  -o-transition-delay: $transition-delay;
  -webkit-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}


@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

body {
  font-family: sans-serif;
  background: $background;
  background-image: url('/static/bg.png');
  color: $item-focus-color;
}

.event-question-list {
  margin: auto;
  max-width: $question-width;
}

.question-input-wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-width: 750px;
  margin: 0 auto;
}

.question-input {
  margin: auto;
  max-width: $question-width;
  .card {
    background: $item-background;
    border: $card-border;
    box-shadow: $item-shadow;
    z-index: $zidx-container;
    padding: 8px;
    margin-top: 32px;
    display: block;
  }
  h1 {
    font-size: 24px;
    margin: 16px 16px;
  }
  p {
    line-height: 24px;
    margin: 16px 16px;
  }
  .question-input-form {
    margin: 32px;
    textarea{
      font-size: 14px;
      height: 7em;
      width: calc(100% - (2 * 8px));
      border: 1px solid #ccc;
    }
    margin: 8px;
  }
}

button {
  border: $element-border;
  background: $button-background;
  font-size: 12px;
  outline: 0;
  &:hover {
    background: $button-hover-background;
  }
  &:active {
    background: $button-active-background;
  }
}

.loader {
  // loaders must have width, height, color, and margin
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.upvote-arrow {
  margin-top: 8px;
  border-bottom: 16px solid $upvote-color;
  border-left: 8px solid rgba(0,0,0,0);
  border-right: 8px solid rgba(0,0,0,0);
  width:0px;
  height: 0px;
}
.downvote-arrow {
  border-top: 16px solid $downvote-color;
  border-left: 8px solid rgba(0,0,0,0);
  border-right: 8px solid rgba(0,0,0,0);
  width: 0px;
  height: 0px;
}
.upvote:hover .upvote-arrow, .downvote:hover .downvote-arrow {
  border-top-color: red;
  border-bottom-color: green;
}
.vote-score {
  text-align: center;
  font-family: monospace;
  line-height: 16px;
  cursor: default;
}


.page-header {
  background: $item-background;
  box-shadow: $item-shadow;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zidx-header;
  width: 100%;
  .page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
  }
  .page-title {
    font-size: 32px;
  }
}

.underheader {
  height: 64px;
}

.event-loader {
  width: 64px;
  height: 64px;
  background-color: rgba(.7, .2, .2, .1);
  margin: 64px auto;
}
.event {
  .event-title {
    font-size: 32px;
    font-weight: 100;
  }
  .unique-link-container{
    max-width: $question-width;
    margin: 32px auto;
    text-align: center;
  }
}
.question-input{

}
.question {
  margin: 16px;
  margin-top: 32px;
  div {
    position: relative;
  }
  .question-container {
    background: $item-background;
    border: $card-border;
    box-shadow: $item-shadow;
    display: flex;
    z-index: $zidx-container;
    .question-content {
      margin: 16px;
      line-height: 16px;
    }
    .vote {
      margin-left: 16px;
      margin-right: 16px;
      height: $question-vote-width;
      .upvote, .downvote {
        height: #{(($question-vote-width / 2) - 16)};
      }
    }
  }
  .question-comments {
    z-index: $zidx-comment;
    background: $item-background;
    border: $card-border;
    border-bottom: 1px solid $border-grey;
    box-shadow: $item-shadow;
    margin-left: 16px;
    margin-right: 16px;
    .slider-toggle {
      @include transition-delay(3s);
      @include transition(all 100ms);
      border-top: 1px solid #eee;
      text-align: center;
      line-height: 16px;
      padding-top: 8px;
      margin: 8px;
      color: #88f;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .slider {
      @include transition(all 250ms);
    }
    .slider-false {
      // overloads a comuter value for animations
      max-height: 0px !important;
      overflow: hidden;
    }
    .slider-true {
      overflow: scroll;
    }
    .comment-input {
      margin: 8px;
      padding-left: $comment-vote-width;
      color: $item-detail-color;
      textarea {
        width: calc(100% - 16px);
        height: 72px;
        border: $element-border;
        font-size: 16px;
      }
      .buttons {
        margin: 16px;
        button {
          float: right;
        }
      }
    }
    .comment-loader {
      width: 40px;
      height: 40px;
      background-color: rgba(168, 182, 199, 0.31);
      margin: 15px auto;
    }
    .comment {
      display: flex;
      margin-top: 8px;
      .comment-content {
        margin: 16px;
        line-height: 16px;
      }
      .comment-author {
        color: $item-detail-color;
        margin-bottom: 4px;
      }
      .vote {
        margin-left: 16px;
        margin-right: 16px;
        .upvote, .downvote {
          height: #{(($question-vote-width / 2) - 16)};
        }
      }
    }
  }
}